@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    bool enable = (@Model.piholeResponse == "enabled") ? true : false;
}

<!--
<form method="post">
    <input type="submit" value="Status" asp-for="action" id="Status" />
</form>
-->
<form method="post">
    <input type="submit" value="Enable" asp-for="action" id="Enable" disabled="@enable" />
</form>
<form method="post">
    <input type="submit" value="Disable" asp-for="action" id="Disable" disabled="@(!enable)" />
</form>

<!--
Model.action here:
<br />
@Model.action
<br /><br /><br />
Bash Command response here:
<br />
@Model.piholeResponse
    -->
